{% extends 'base.html' %}

{% block content %}
<div id="tweet">
    salam
</div >
<script>
    function twitt_format(tweet){
        tweet_content = tweet.content
        var tweet_str = ""
        tweet_str += "<div class ="+"mb-4"+">"+ tweet_content+ "</div>"
        return tweet_str
    }
    const tweetElem = document.getElementById('tweet')
    tweetElem.innerHTML = "khod dh"
    const xhr = new XMLHttpRequest()
    const url = "tweets/all_tweets"
    const method = "GET"
    const resposeType = "json"
    xhr.responseType = resposeType
    xhr.open(method, url)
    content_tweet = ""
    xhr.onload = function(){
        tweet_list = xhr.response.response
        var i = 0;
        for (i = 0; i < tweet_list.length; i++){
            
            content_tweet += (twitt_format(tweet_list[i]))
        }
        tweetElem.innerHTML = content_tweet
    }
    xhr.send()
</script>
{% endblock content %}